
form {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    color: #79aca2;
    background-color: #79aca2;
    border-radius: 20px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    font-style: var(--main-font);
  }
  
input[type="text"] {
  width: 60%;
  padding: 10px 10px;
  border: 1px solid #36454F;
  color: black;
  border-radius: 5px;
  margin-right: 20px;
  font-size: large;
  transition: 0.4s;
}
  
form input:hover{
    transform: scale(1.01);
}


form button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #79aca2;
  color: white;
  border-radius: 5px;
  font-style: italic;
  font-weight: 800;
  transition: 0.3s all ease;
}

td button
{
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #79aca2;
  color: white;
  border: none;
  border-radius: 5px;
  font-style: italic;
  font-weight: 800;
  transition: 0.3s all ease;
}
button:hover {
  transform: scale(1.09);
}

.result-header
{
    margin-top: 20px;
    text-align: center;
    color: white;
}
.result-container
{
    width: 80%;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--headings);
    color: #79aca2;

    border-radius: 20px;
    padding: 10px;

    font-style: var(--main-font);

}

ul.student-list
{
    margin-top: 5px;
}
.student-list-item
{
  display: grid;
  margin-top: 10px;
  margin-left: 30%;
  margin-right: 30%;
}


/*table */
table
{
  width: 100%;
}
table tr{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 30px; */
  background-color: #f3f3f3;
  margin: 1px 0;
}

table tr td{
  width: 25%;
  font-size: 1.2rem;
}

table tr td.id{
  padding-left: 20px;
}

table tr td.id{
  font-size: 1rem;
}

table tr td.action{
  padding-right: 20px;
  color: var(--headings);
}


table tbody{
  display: block;
  max-height: 800px;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 12px;
}


::-webkit-scrollbar-track {
  background-color: #ccc;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: var(--headings); 
}
