*{
    font-family: 'Ubuntu', sans-serif;
}

h1{
    color: var(--headings);
    text-align: center;
}

th,td{
    padding: 7px;
}
th{
    background-color: #212025;
    color: #ebe9e9;
    /* border-top-right-radius: 10px; */
}
.right{
    border-top-right-radius: 15px;
}
.left{
    border-top-left-radius: 15px;
}
table{
    position: absolute;
    left: 20%;
    top: 20%;
    width: 60%;
    height: 450px;
    background-color: #b7b6b6;
    text-align: center;
    border-collapse: collapse;
    border-radius: 15px;

}
tr:nth-child(even){
    background-color: #dbdada;
}
#table-cap{
    margin-bottom: 5%;
    font-size: x-large;
}
caption{
    font-weight: bold;
}